* {
    font-size: 30px;
}

.container-01 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem;
    background-color: orange;
}

.container-02 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr .5fr;
    grid-template-rows: 6rem;
    list-style-type: none;
}

grid {
    margin: 5px;
}

.grid-1 {
    background-color: red;
    background-blend-mode: screen;
    margin: 5px;
    transform: rotate(20deg);
    /*opacity: 60%;*/
}
.grid-2 {
    background-color: green;
    transform: rotate(-20deg);
    margin: 5px;
}
.grid-3 {
    /*background-color: yellow;*/
    transform: rotate(44deg);
    margin: 5px;
}
.grid-4 {
    background-color: mediumpurple;
    transform: rotate(140deg);
    margin: 5px;
}
.grid-5 {
    background-color: blueviolet;
    transform: rotate(315deg);
    margin: 5px;
}

.warning {
    display: grid;
    background: #FCC;
    padding: 0.5em;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}

#grid-fixed {
    display: grid;
    grid-template-columns: [start col-a ]200px [col-b] 60% [col-c] 3em [stop end last];
    grid-template-rows: [start masthead] 3em [content] calc(100% - 5em) [footer] 2em [stop end];
    background-color: orange;
}

.flex-bar {
    display: flex;
    /*flex-flow: row wrap;*/
    /*justify-content: flex-start;*/
    background-color: DodgerBlue;
    list-style-type: none;
    padding-left: 0;
}

.flex-bar > li {
    flex-grow: 2;
    background-color: #f1f1f1;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
}

.flex-bar > li:nth-child(1) {
    background-color: coral;
}

.flex-bar > li:nth-child(2) {
    background-color: greenyellow;
}

.flex-bar > li:nth-child(3) {
    background-color: palevioletred;
}

/*section {
    display: -moz-inline-block;
}*/

.grid-f-fr {
    list-style-type: none;
    padding: 0em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 2em 1em;
}

.grid-f-fr > li:nth-child(1) {
    background-color: lightslategray;
}
.grid-f-fr > li:nth-child(2) {
    background-color: orangered;
}
.grid-f-fr > li:nth-child(3) {
    background-color: palevioletred;
}
.grid-f-fr > li:nth-child(4) {
    background-color: deepskyblue;
}
.grid-f-fr > li:nth-child(5) {
    background-color: chartreuse;
}
.grid-f-fr > li:nth-child(6) {
    background-color: violet;
}
.grid-f-fr > li:nth-child(7) {
    background-color: sandybrown;
}